{{! EDIT SPONSOR MODAL START }}
<div class="modal" id="edit-sponsor-modal">
  <div class="modal-background" id="edit-sponsor-BG"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Sponsor Info</p>
      <button
        class="delete"
        id="edit-sponsor-close-x"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      Name:
      <input
        class="input"
        name="sponsor_name"
        type="text"
        placeholder="Name of Sponsor"
        id="sponsor_name"
        value="{{uac.sponsor_name}}"
      />
      Address 1:
      <input
        class="input"
        name="sponsor_address_1"
        type="text"
        placeholder="Address1"
        id="sponsor_address_1"
        value="{{uac.sponsor_address_1}}"
      />
      Address 2:
      <input
        class="input"
        name="sponsor_address_2"
        type="text"
        placeholder="Address2"
        id="sponsor_address_2"
        value="{{uac.sponsor_address_2}}"
      />
      City:
      <input
        class="input"
        name="sponsor_city"
        type="text"
        placeholder="City"
        id="sponsor_city"
        value="{{uac.sponsor_city}}"
      />
      State:
      <input
        class="input"
        name="sponsor_state"
        type="text"
        placeholder="State"
        id="sponsor_state"
        value={{uac.sponsor_state}}
      />
      Zip:
      <input
        class="input"
        name="sponsor_zip"
        type="text"
        placeholder="Zip Code"
        id="sponsor_zip"
        value={{uac.sponsor_zip}}
      />
      Relationship:
      <input
        class="input"
        name="sponsor_relationship"
        type="text"
        placeholder="Sponsor Relationship"
        id="sponsor_relationship"
        value="{{uac.sponsor_relationship}}"
      />
      Age:
      <input
        class="input"
        name="sponsor_age"
        type="text"
        placeholder="Sponsor Age"
        id="sponsor_age"
        value={{uac.sponsor_age}}
      />
      Gender:
      <input
        class="input"
        name="sponsor_gender"
        type="text"
        placeholder="Gender"
        id="sponsor_gender"
        value={{uac.sponsor_gender}}
      />
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="save-sponsor-info">
        Save Changes
      </button>
      <button class="button" id="cancel-edit-sponsor-modal">Cancel</button>
    </footer>
  </div>
</div>
{{! EDIT SPONSOR MODAL END }}