{{!-- SPONSOR TAB PARTIAL --}}
        <div class="tile is-parent">
          <article class="tile is-child notification" style="background-color: rgb(85, 150, 105); color: white;">
            <p class = "title">Sponsor</p>
            <p class="title is-2">{{uac.sponsor_name}}</p>
            <p class="subtitle is-3">{{uac.sponsor_relationship}}</p>
            <div class="content">
              <div class="contain field">
              </div>
              <p>Address 1: {{uac.sponsor_address_1}}</p>
              <p>Address 2: {{uac.sponsor_address_2}}</p>
              <p>City: {{uac.sponsor_city}}</p>
              <p>State: {{uac.sponsor_state}}</p>
              <p>Zip: {{uac.sponsor_zip}}</p>
            </div>
            <h3 class="title is-6" style="color: navy" ><i class ="fa-solid fa-file-pen"></i>Edit Sponsor Tab</h3>
            {{!-- <a href = "/address/{{uac.uac_id}}"> --}}
            {{!-- <h3 class="title is-6" style="color: yellow"><i class ="fa-solid fa-file-pen"></i>Smarty Streets</h3></a> --}}
          </article>
        </div>
      </div>
    {{!-- SPONSOR TAB PARTIAL END --}}
