{{!-- TASK BAR START --}}

      <div class="tile is-parent">
        <article class="tile is-child notification has-background-black-bis has-text-white-bis">
          <div class="content">
            <p class="title">Tasks</p>
            <p class="subtitle"><strong></strong></p>
            <div class="content">
              <div class = "container has-text-centered has-text-weight-bold"> <i class="fa-solid fa-file-arrow-up"style="margin-right: 10px"></i>Sponsor Assessment</div>
              <div class="container is-info has-text-centered mt-0">
                    <div class="notification p-1" id = "sa-container">
                      <span>{{format_nice_date uac.sponsor_assessment}}</span>
                    </div>
                  </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-file-arrow-up"style="margin-right: 10px"></i>FRP </div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "frp-container">
                          <span id = "FRP">{{format_nice_date uac.frp}}</span> 
                    </div>
                </div>

              <div class = "container has-text-centered mt-0 has-text-weight-bold "><i class="fa-solid fa-file-arrow-up"style="margin-right: 10px"></i>ARI </div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id ="ari-container">
                          <span id ="ARI">{{format_nice_date uac.ari}}</span>
                          </div>
                </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-people-group" style="margin-right: 10px"></i>Proof of Relationship</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "por-container">
                      <span id = "POR">{{format_nice_date uac.por}} </span>
                    </div>
                </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-location-dot" style="margin-right: 10px"></i>Proof of Address</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id="poa-container">
              <span>{{format_nice_date uac.poa}}</span>
                          </div>
                </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-hand-holding-hand" style="margin-right: 10px"></i>Letter of Designation</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "lod-container">
              <span>{{format_nice_date uac.lod}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-compass" style="margin-right: 10px"></i>LOPC</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id ="lopc-container">
              <span>{{format_nice_date uac.lopc}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-scale-balanced" style="margin-right: 10px"></i>Sponsor Background Check</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "sponsor_bgc-container">
              <span>{{format_nice_date uac.sponsor_bgc}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-id-card" style="margin-right: 10px"></i>Sponsor ID Received</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id= "sponsor_id-container">
              <span id = "sponsor-id">{{format_nice_date uac.sponsor_id}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-fingerprint" style="margin-right: 10px"></i>Fingerprints Taken</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "sponsor_fp-container">
              <span id = "sponsor-fp">{{format_nice_date uac.sponsor_fp}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-id-card" style="margin-right: 10px"></i>HHM ID's Received</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id="hhm_id-container">
              <span id = "hhm-id">{{format_nice_date uac.hhm_id}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-scale-balanced" style="margin-right: 10px"></i>Household Member Background Checks</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "hhm_checks-container">
              <span id = "hhm-checks">{{format_nice_date uac.hhm_checks}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-building-shield" style="margin-right: 10px"></i></i>Sex-Offender Checks</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "sex_offender_check-container">
              <span id = "sex-offender-check">{{format_nice_date uac.sex_offender_check}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-phone" style="margin-right: 10px"></i>Contacted Caregiver in Home Country</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "coo_caregiver_date-container">
              <span>{{format_nice_date uac.coo_caregiver_date}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-clipboard-list"></i>CA/N Checks Requested</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id= "can_check_requested_date-container">
              <span>{{format_nice_date uac.can_check_requested_date}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-user-check" style="margin-right: 10px"></i>Prior Sponsorship</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id ="prior_sponsorship_date-container">
              <span>{{format_nice_date uac.prior_sponsorship_date}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-house-circle-check" style="margin-right: 10px"></i>Previous Address</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "previous_address_date-container">
              <span>{{format_nice_date uac.previous_address_date}}</span>
              </div>
              </div>
              <div class = "container has-text-centered mt-0 has-text-weight-bold"><i class="fa-solid fa-handcuffs" style="margin-right: 10px"></i>Criminal Hitory</div>
                <div class="container is-info has-text-centered mt-0" >
                    <div class="notification p-1" id = "criminal_history_date-container">
              <span>{{format_nice_date uac.criminal_history_date}}</span>
              </div></div>
              </div>
              <button class="button is-link" id="edit-tasks">
            Edit
          </button>
            </div>
          </div>
        </article>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/cd8c8fb565.js" crossorigin="anonymous"></script>
{{!-- TASK BAR END     --}}