{{!-- UAC INFO TAB START --}}
          <div class="tile is-parent">
            <article class="tile is-child notification has-background-black-bis has-text-white-bis">
              <p class="title">{{{uac.uacname}}}</p>
              <p class="subtitle">A#{{uac.a_number}}</p>
              <div class="container field is-grouped">
                <p class="control">
                  <h3 class = "title is-7" id = "edit-RR">
                    <i class="fa-solid fa-file-pen"></i>
                    Release Request
                  </h3>
                  <br>
                  <h3 class="title is-7" style= "margin-left: 24px" id="release-request-btn">
                   <i class="fa-solid fa-door-open"></i> Release Request 
                  </h3>
                </p>
              </div>
              <div class="uac-info">
                
                <p>DOB:{{format_nice_date uac.dob}}</p>
                <p>COO:{{uac.coo}}</p>
                <p>LOS:{{format_nice_date uac.intake}}</p>
                <p>Age:{{uac.age}}</p>
                <p>Category:{{uac.category}}</p>
                <p>Gender: {{uac.gender}}</p>
                <p>SIR: {{uac.sir}}</p>
                <p>Exception: {{uac.exception}}</p>
              </div>
              <button class="button is-info" id="edit-uac">Edit</button>
            </article>
          </div>
        </div>
{{!-- UAC INFO TAB END  --}}