{{!-- UAC INFO TAB START --}}
          <div class="tile is-parent">
            <article class="tile is-child notification" style="background-color: rgb(25, 85, 155); color: white;">
              <p class="title">{{{uac.uacname}}}</p>
              <p class="subtitle">A#{{uac.a_number}}</p>
              <div class="container field is-grouped">
                <p class="control">
                  {{!-- <h3 class = "title is-7" id = "edit-RR">
                    <i class="fa-solid fa-file-pen"></i>
                    Release Request
                  </h3>
                  <br>
                  <h3 class="title is-7" style= "margin-left: 24px" id="release-request-btn">
                   <i class="fa-solid fa-door-open"></i> Release Request 
                  </h3> --}}
                </p>
              </div>
              <div class="uac-info">
                
                <p>DOB:{{format_nice_date uac.dob}}</p>
                <p>COO:{{uac.coo}}</p>
                <p>LOS:{{format_nice_date uac.intake}}</p>
                <p>Age:{{uac.age}}</p>
                <p>Category:{{uac.category}}</p>
                <p>Gender: {{uac.gender}}</p>
                <p>SIR: {{uac.sir}}</p>
                <p>Exception: {{uac.exception}}</p>
              </div>
              <h3 class="title is-6 mt-3" style="color: navy; cursor: pointer;" ><i class ="fa-solid fa-file-pen"></i>Edit UAC Info</h3>
            </article>
          </div>
        </div>
{{!-- UAC INFO TAB END  --}}