<div class='bc document'><h1 class='bc-title'>Father's Birth Certificate</h1><div
		class='bc-header'
	><h2>Registro Nacional de las Personas</h2>
		<h4>Republica de {{uac.coo}}</h4>
		<h3>Registro Civil de las Personas</h3>
		<h3>Certificado de Nacimiento</h3></div><div class='bc-info'>
		<h3>
			El infrascrito Rigistrador Civil de las Personas del Rigistro Nacional de
			las Personas del Municipio de
			{{uac.coo}}, Departamento de
			{{uac.coo}},
		</h3>
		<h3>CERTIFICA</h3>
		<h3>
			que con fecha 11/11/2023 en la partida AAA, folio BB del libro ZZZ del
			Registro Civil del Municipio de
			{{uac.coo}}, Departamento de
			{{uac.coo}}, quedo inscrito el nacimiento de:
		</h3></div><div class='inscrito'><strong>Datos del Inscrito</strong><h3
		>Father's Name</h3><h3>FATHER'S DOB</h3><h4>
			{{uac.coo}}</h4><hr /></div><div class='inscrito'><strong>Datos de la
			Madre</strong><h3>MOTHERS NAME</h3><hr /><strong>Datos del Padre</strong><h3
		>FATHERS NAME</h3><hr /></div><div class='inscrito'></div><h4></h4></div>