<div class="container is-max-desktop" style="text-align: center">
    <h1 class="title is-1">LOPC APPOINTMENT</h1>
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <td>Custodian's Name:</td>
                <td>{{uac.sponsor_name}}</td>
            </tr>
            <tr>
                <td>Relationship To Minor:</td>
                <td>{{uac.sponsor_relationship}}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>000-000-0000</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{uac.sponsor_address_1}}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{uac.sponsor_city}}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{uac.sponsor_state}}</td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td>{{uac.sponsor_zip}}</td>
            </tr>
            <tr>
                <td>Send Confirmation Email to:</td>
                <td>david.ortiz@deployedservices.com</td>
            </tr>
            <tr>
                <td>Minor's Name:</td>
                <td>{{uac.uacname}}</td>
            </tr>
            <tr>
                <td>A#:</td>
                <td>{{uac.a_number}}</td>
            </tr>
            <tr>
                <td>Separated from parent at border?</td>
                <td>No</td>
            </tr>
            <tr>
                <td>List A#'s/DOB for additional minors:</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Facility where minor is detained:</td>
                <td>Greensboro Piedmont Academy ICF, Greensboro, NC</td>
            </tr>
            <tr>
                <td>Contact info of person making appointment:</td>
                <td>david.ortiz@deployedservices.com David Ortiz 123-123-1234/ Greensboro Piedmont Academy ICF</td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>There are no available appointments near to the
                    sponsor’s address (More than 70 miles away).</td>
            </tr>

        </tbody>

    </table>
</div>