<strong>Welcome {{username}}</strong>
    <section class="hero is-info is-small">
      <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

         
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary is-modal-button" data-target="modal" id ="uacModalBtn">
                    <strong>Add UAC</strong>

                    <a class="button is-warning is-modal-button" data-target="#cm-modal" id ="cmModalBtn">
                        <strong>Add Case Manager</strong>
                    
                  </a>
                  <a class="button is-light" name = "logout"> <strong>Log out</strong> </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <div class="table-container is-centered">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>
              <abbrr title="Alien number"><strong>A#</strong></abbrr>
            </th>
            <th>
              <abbr title="UAC"><strong>UAC</strong></abbr>
            </th>
            <th><strong>Case Manager</strong></th>
            <th>
              <abbr title="Family reunification packet"
                ><strong>FRP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Authorization of release of information"
                ><strong>ARI</strong></abbr
              >
            </th>
            <th>
              <abbr title="Trail of birth certificates"
                ><strong>BC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor background check"
                ><strong>Sponsor BGC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor finger prints"
                ><strong>Sponsor FP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Household member IDs"><strong>HHM IDs</strong></abbr>
            </th>
            <th>
              <abbr title="Serious incident report"><strong>SIR</strong></abbr>
            </th>
            <th>
              <abbr title="Exception entered"><strong>Exception</strong></abbr>
            </th>
          </tr>
        </thead>
        {{#each uacTable}}
        <tbody>
    
          <td><a href= "dashboard/{{uac_id}}">{{a_number}}</td></a>
          <td>{{uacname}}</td>
          <td>{{case_manager}}</td>
          <td>{{FRP}}</td>
          <td>{{ARI}}</td>
          <td>{{POR}}</td>
          <td>{{sponsor_bgc}}</td>
          <td>{{sponsor_fp}}</td>
          <td>{{hhm_id}}</td>
          <td>{{SIR}}</td>
          <td>{{exception}}</td>
        </tbody>{{/each}}

        <tfoot>
          <tr>
            <th>
              <abbrr title="Alien number"><strong>A#</strong></abbrr>
            </th>
            <th>
              <abbr title="UAC"><strong>UAC</strong></abbr>
            </th>
            <th><strong>Case Manager</strong></th>
            <th>
              <abbr title="Family reunification packet"
                ><strong>FRP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Authorization of release of information"
                ><strong>ARI</strong></abbr
              >
            </th>
            <th>
              <abbr title="Trail of birth certificates"
                ><strong>BC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor background check"
                ><strong>Sponsor BGC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor finger prints"
                ><strong>Sponsor FP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Household member IDs"><strong>HHM IDs</strong></abbr>
            </th>
            <th>
              <abbr title="Serious incident report"><strong>SIR</strong></abbr>
            </th>
            <th>
              <abbr title="Exception entered"><strong>Exception</strong></abbr>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="modal" id = "new-uac-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add New UAC</p>
            <button class="delete" id = "close-x" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
            <input class="input" name ="a-number" type="text" placeholder="A#" id="a-number">
            <input class="input" name = "uac-name" type="text" placeholder="UAC Name" id="uac-name">
            <input class="input" name = "dob" type="text" placeholder="DOB" id="dob">
            <input class="input" name = "coo" type="text" placeholder="Country of Origin" id="coo">
            <input class="input" name = "date-admitted" type="text" placeholder="Date Admitted" id="date-admitted">
            <input class="input" name = "gender" type="text" placeholder="Gender" id="gender">
            <div class="dropdown is-active">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Assign Case Manager</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    {{#each cmSelector}}
                    <a href = "#" class="dropdown-item">
                      {{username}}
                    </a> {{/each}}
                    {{!-- <a class="dropdown-item">
                      Other dropdown item
                    </a>
                    <a href="#" class="dropdown-item is-active">
                      Active dropdown item
                    </a>
                    <a href="#" class="dropdown-item">
                      Other dropdown item
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                      With a divider
                    </a> --}}
                  </div>
                </div>
              </div>

          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id = "save-new-uac">Save changes</button>
            <button class="button" id = "cancel-modal">Cancel</button>
          </footer>
        </div>
      </div>

      <div class="modal" id = "cm-modal">
        <div class="modal-background" id = "cm-BG"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add New UAC</p>
            <button class="delete" id = "cm-close-x" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
            <input class="input" name ="cm-name" type="text" placeholder="Name">
            <input class="input" name = "cm-email" type="text" placeholder="E-Mail">

          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id = "save-new-uac">Add New Case Manager</button>
            <button class="button" id = "cancel-cm-modal">Cancel</button>
          </footer>
        </div>
      </div>
  
  <script src = "./js/tableview.js">
  
</script>
<script src = "./js/newUAC.js"></script>

