<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UAC Tracker 3000</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

         
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary is-modal-button" data-target="modal" id ="uacModalBtn">
                    <strong>Add UAC</strong>

                    <a class="button is-warning is-modal-button" data-target="#cm-modal" id ="cmModalBtn">
                        <strong>Add Case Manager</strong>
                    
                  </a>
                  <a class="button is-light" name = "logout"> <strong>Log out</strong> </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <div class="table-container is-centered">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>
              <abbrr title="Alien number"><strong>A#</strong></abbrr>
            </th>
            <th>
              <abbr title="UAC"><strong>UAC</strong></abbr>
            </th>
            <th><strong>Case Manager</strong></th>
            <th>
              <abbr title="Family reunification packet"
                ><strong>FRP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Authorization of release of information"
                ><strong>ARI</strong></abbr
              >
            </th>
            <th>
              <abbr title="Trail of birth certificates"
                ><strong>BC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor background check"
                ><strong>Sponsor BGC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor finger prints"
                ><strong>Sponsor FP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Household member IDs"><strong>HHM IDs</strong></abbr>
            </th>
            <th>
              <abbr title="Serious incident report"><strong>SIR</strong></abbr>
            </th>
            <th>
              <abbr title="Exception entered"><strong>Exception</strong></abbr>
            </th>
          </tr>
        </thead>
        <tbody>
          <td>2204341343</td>
          <td>David José Ortiz</td>
          <td>Bettyjo Binford</td>
          <td>10/1/2021</td>
          <td>11/4/2021</td>
          <td>10/7/2021</td>
          <td>10/15/2021</td>
          <td>10/15/2021</td>
          <td>12/1/2021</td>
          <td>0</td>
          <td>pending fingerprint appointment 11/2/2021</td>
        </tbody>
        <tbody>
            <td>{{a_number}}</td>
            <td>{{uac_name}}</td>
            <td>{{case_manager}}</td>
            <td>{{frp_date}}</td>
            <td>{{ari_date}}</td>
            <td>{{bc_date}}</td>
            <td>{{trail_of_bcs}}</td>
            <td>{{sponsor_bgc}}</td>
            <td>{{hhm_id}}</td>
            <td>{{sir}}</td>
            <td>{{exception}}</td>
          </tbody>

        <tfoot>
          <tr>
            <th>
              <abbrr title="Alien number"><strong>A#</strong></abbrr>
            </th>
            <th>
              <abbr title="UAC"><strong>UAC</strong></abbr>
            </th>
            <th><strong>Case Manager</strong></th>
            <th>
              <abbr title="Family reunification packet"
                ><strong>FRP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Authorization of release of information"
                ><strong>ARI</strong></abbr
              >
            </th>
            <th>
              <abbr title="Trail of birth certificates"
                ><strong>BC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor background check"
                ><strong>Sponsor BGC</strong></abbr
              >
            </th>
            <th>
              <abbr title="Sponsor finger prints"
                ><strong>Sponsor FP</strong></abbr
              >
            </th>
            <th>
              <abbr title="Household member IDs"><strong>HHM IDs</strong></abbr>
            </th>
            <th>
              <abbr title="Serious incident report"><strong>SIR</strong></abbr>
            </th>
            <th>
              <abbr title="Exception entered"><strong>Exception</strong></abbr>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="modal" id = "new-uac-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add New UAC</p>
            <button class="delete" id = "close-x" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
            <input class="input" name ="a-number" type="text" placeholder="A#" id="a-number">
            <input class="input" name = "uac-name" type="text" placeholder="UAC Name" id="uac-name">
            <input class="input" name = "dob" type="text" placeholder="DOB" id="dob">
            <input class="input" name = "coo" type="text" placeholder="Country of Origin" id="coo">
            <input class="input" name = "date-admitted" type="text" placeholder="Date Admitted" id="date-admitted">
            <input class="input" name = "gender" type="text" placeholder="Gender" id="gender">
            <div class="dropdown is-active">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Assign Case Manager</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                      Dropdown item
                    </a> 
                    <a class="dropdown-item">
                      Other dropdown item
                    </a>
                    <a href="#" class="dropdown-item is-active">
                      Active dropdown item
                    </a>
                    <a href="#" class="dropdown-item">
                      Other dropdown item
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                      With a divider
                    </a>
                  </div>
                </div>
              </div>


          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id = "save-new-uac">Save changes</button>
            <button class="button" id = "cancel-modal">Cancel</button>
          </footer>
        </div>
      </div>

      <div class="modal" id = "cm-modal">
        <div class="modal-background" id = "cm-BG"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add New UAC</p>
            <button class="delete" id = "cm-close-x" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
            <input class="input" name ="cm-name" type="text" placeholder="Name">
            <input class="input" name = "cm-email" type="text" placeholder="E-Mail">

          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id = "save-new-uac">Add New Case Manager</button>
            <button class="button" id = "cancel-cm-modal">Cancel</button>
          </footer>
        </div>
      </div>
  </body>
  <script src = "./js/tableview.js">
  
</script>
<script src = "./js/newUAC.js"></script>
</html>
